@use '../abstracts' as a;

:root {
	font-size: 21px;
	font-family: fira-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: a.$primary;
	background-color: a.$accent;
}
h1,
h2,
h3 {
	font-family: pauline, sans-serif;
}
a {
	color: a.$link;
	text-decoration: none;
}
a.active {
	color: a.$accent;
}
