@import 'normalize';
@import 'mixins';

$white: #ffffff;
$background: #fcfcfc;
$primary: #1d1d1d;
$accent: #29a651;
$link: #63b57d;

// * Typography
:root {
	font-size: 21px;
	font-family: fira-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: $primary;
	background-color: $accent;
}
body {
	background: $white;
}
h1,
h2,
h3 {
	font-family: pauline, sans-serif;
}
a {
	color: $link;
	text-decoration: none;
}
a.active {
	color: $accent;
}

img {
	max-width: 100%;
}

.wrap,
nav {
	margin: 0 auto;
	padding: 0 1em;
	max-width: 800px;
	box-sizing: content-box;
}

.columns {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 1em;
	justify-content: space-evenly;
}

.hasBackground {
	position: relative;
	padding-bottom: 2em;

	.backgroundImage {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-size: cover;
		background-position: center;
		z-index: -1;
	}
}

.logo {
	img {
		width: 100px;
	}
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 1em;
	padding-bottom: 1em;
	text-transform: uppercase;
	font-weight: 700;
	z-index: 1;

	&.aboveContent {
		position: absolute;
		left: 0;
		right: 0;
		box-sizing: content-box;
		padding-left: 1em;

		+ header,
		+ section {
			padding-top: 6em;
		}
	}

	@include breakpoint('mobile') {
		padding-top: 2em;
	}

	.openMenu {
		position: absolute;
		top: 2em;
		right: 2em;
		svg {
			width: 2em;
			height: 2em;
			fill: $link;
		}
		@include breakpoint('desktop') {
			display: none;
		}
	}

	.links {
		transition: transform 0.4s;
		transition-timing-function: cubic-bezier(0.34, 0.1, 0.23, 1.12);
		@include breakpoint('mobile') {
			position: fixed;
			display: flex;
			top: 0;
			bottom: 0;
			left: -2em;
			right: 2em;

			&:not(:target) {
				transform: translateX(calc(-100% - 2em));
			}

			background-color: $accent;

			align-items: center;
			justify-content: center;
			flex-direction: column;
			box-shadow: 0.25em 0 0.5em rgba($primary, 0.25);
			> *:not(:last-child) {
				margin-bottom: 2em;
			}

			a {
				display: block;
				text-align: center;
			}

			.logo {
				position: absolute;
				top: 2em;
				left: 4em;
			}

			.icon {
				position: absolute;
				top: 2em;
				right: 2em;
				svg {
					width: 2em;
					height: 2em;
					fill: $white;
				}
			}

			.shadow {
				position: absolute;
				top: 0;
				right: -2em;
				bottom: 0;
				width: 2em;
				opacity: 0.75;
				background-color: $primary;
			}

			* {
				color: $white;
			}
		}
		@include breakpoint('desktop') {
			a {
				margin-left: 1em;
			}
			.logo,
			.menuClose {
				display: none;
			}
		}
	}
}

header {
	text-align: center;
	.wrap {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		text-align: left;

		h1,
		p {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		@include breakpoint('mobile') {
			grid-template-columns: 1fr;
			h1,
			p {
				text-align: center;
			}
		}
	}
}

section {
	text-align: center;
}

section:nth-of-type(even) {
	background-color: $background;
}

section,
footer {
	padding: 1em 0;
}

footer {
	text-align: center;
	color: $white;
	background-color: $accent;
	padding: 1em 0;

	a {
		color: $white;
	}

	.logo {
		display: inline-block;
		margin: 4em 0;
	}

	nav {
		@include breakpoint('mobile') {
			flex-direction: column;
			> *:not(:last-child) {
				margin-bottom: 1em;
			}
		}
	}
}
